html {
    scroll-behavior: smooth;
   }

.footer {
    padding: 25px;
    color: #fff;
    background-color: rgb(29, 29, 29);
    text-align: center;
}

.footer h6{
    margin-bottom: 25px;
}


.b-footer {
    color: rgb(255, 255, 255);
}


@media screen and (min-width: 600px) {

}