/* GENERAL */

img, svg {
    vertical-align: top !important;
}

/* LOADING CSS */
#loading-animation {
    text-align: center;
    padding: 250px 0px 1000px 0px;
}

#loading-animation img{
    width: 250px;
}

/* home css */
.row {
    margin: 0;
}

.home-banner {
    padding: 100px 50px;
    font-size: 65px;
    font-weight: 600;
    text-align: center;
}

.home-banner img {
    width: 70%;
}

.home-sub-banner {
    padding: 130px 50px;
    color: white;
    font-size: 55px;
    font-weight: 600;
}

.home-sub-banner img {
    width: 70%;
}

.text-right {
    text-align: right;
}

.col-image {
    text-align: center;
}

.total-confirmed {
    background-color: rgb(0, 0, 0);
}

.total-active {
    background-color: rgb(255, 207, 50);
}

.total-vaccinated {
    background-color: rgb(64, 92, 255);
}

.total-recovered {
    background-color: rgb(0, 224, 138);
}

.total-deaths {
    background-color: rgb(233, 0, 78);
}

@media screen and (max-width: 1240px) {
    
    .home-banner {
        font-size: 35px;
        font-weight: 600;
    }
    .home-banner img {
        width: 100%;
    }
    .home-sub-banner {
        padding: 90px 50px;
        font-size: 35px;
        font-weight: 600;
    }
    .home-sub-banner img {
        width: 60%;
    }
    .col-text {
        text-align: center !important;
    }
}