
/* GENERAL */

img, svg {
    vertical-align: top !important;
}

.data-block {
    padding: 50px 50px;
    color: white;
    font-size: 65px;
    font-weight: 600;
    margin: 0;
}

.text-right {
    text-align: right;
}

.col-image {
    text-align: center;
}


.col-image img {
    width: 100%;
}

.total-confirmed {
    background-color: rgb(0, 0, 0);
}

.total-active {
    background-color: rgb(255, 207, 50);
}

.total-recovered {
    background-color: rgb(0, 224, 138);
}

.total-deaths {
    background-color: rgb(233, 0, 78);
}


@media screen and (max-width: 1240px) {
    .data-block {
        font-size: 45px;
        font-weight: 600;
    }
    
    .col-text {
        text-align: center;
    }

    .col-image img {
        width: 70%;
    }
  }