/* LOADING CSS */
#loading-animation {
    text-align: center;
    padding: 250px 0px 1000px 0px;
}

#loading-animation img{
    width: 250px;
}

#summary-container {
    padding: 100px 0px 0px 0px;
    margin: 0px 50px;
}

.page-title {
    text-align: center;
}

.page-title h1{
    font-weight: 800;
    font-size: 65px;
    margin: 0px 0px 20px 0px;
}

.page-title h4{
    color: red;
    margin: 0px 0px 50px 0px;
}

.sub-title {
    text-align: center;
    font-weight: 800;
    font-size: 35px;
}

.country-title {
    padding-bottom: 15px;
}

#summary-details {
    padding: 0px 0px 50px 0px;
}

.summary-detail{
    border-radius: 0.5rem;
    box-shadow: 0 0 0.8rem rgb(0 0 0 / 10%);
    padding: 15px;
    margin: 15px 0px;
}

.summary-title {
    font-size: 22px;
    font-weight: 500;
}

.summary-subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.summary-information p{
    font-size: 18px;
}

.positive-change {
    font-size: 15px;
    font-weight: 600;
    color: green;
}

.negative-change {
    font-size: 15px;
    font-weight: 600;
    color: red;
}


.positive-extra {
    color: green;
}

.negative-extra {
    color: red;
}


#summary-continents {
    padding-bottom: 50px;
}



.div-table {
    border-radius: 0.5rem;
    height: 600px;
    margin-bottom: 50px;
    overflow-y: auto;
    box-shadow: 0 0 0.8rem rgb(0 0 0 / 10%);
}

.table th {
    border-top: none;
}

thead {
    font-size: 15px;
    position: sticky;
    top: 0;
    background-color: white;
}

tbody {
    font-size: 14px;
}

tbody img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

tbody span {
    font-size: 13px;
    font-weight: 600;
}
