/* LOADING CSS */
#loading-animation {
    text-align: center;
    padding: 250px 0px 1000px 0px;
}

#loading-animation img{
    width: 250px;
}

#summary-container {
    margin: 25px;
}

#summary-details {
    padding: 100px 0px;
}

.summary-detail{
    border-radius: 0.5rem;
    box-shadow: 0 0 0.8rem rgb(0 0 0 / 20%);
    padding: 15px;
    margin: 15px 0px;
}

.summary-information p{
    font-size: 20px;
}

.positive-change {
    font-size: 15px;
    font-weight: 600;
    color: green;
}

.negative-change {
    font-size: 15px;
    font-weight: 600;
    color: red;
}


.positive-extra {
    color: green;
}

.negative-extra {
    color: red;
}